<footer>
  <section class="layout">
    <% include ../content/socialmedia.ejs %>
    <br>
  </section>

  <span class="small" style="margin-left: 7em;">
    <!-- <h6 style="color: red;">Warning:</h6> -->
    Images and other content used on this site are fictitious. This is not a real project. However, credit is given to the art/pictures used.
    
  </span>
</footer><!-- footer -->