<article id="whoshouldcome">
    <h2>Who should come?</h2>
    <ul>
        <li>Anybody interested in art and the creative industry</li>
        <li>Painters, sculptors, photographers and graphic artists</li>
        <li>If you're interested in meeting and making a connection with others in the local art scene.</li>
        <li>If you have something to teach or learn from others related to technology.</li>
    </ul>
</article><!-- article -->